* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

#grid-container {
    height:100vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "title title"
    "break session" 
    "timer timer" 
}


#title {
    grid-area: title;
    text-align: center;
    font-size: 50px;
}



#break {
    background-color: aqua;
    grid-area: break;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "breakLabel breakLabel breakLabel"
    "breakInc breakLength breakDec"
}

#break-label {
    grid-area: breakLabel;
    text-align: center;
    font-size: 40px;
}

#break-increment {
    grid-area: breakInc;
}

#break-length {
    grid-area: breakLength;
    text-align: center;
    font-size: 50px;
}

#break-decrement {
    grid-area: breakDec;
}



#session {
    background-color: bisque;
    grid-area: session;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "sessionLabel sessionLabel sessionLabel"
    "sessionInc sessionLength sessionDec"
}

#session-label {
    grid-area: sessionLabel;
}

#session-increment {
    grid-area: sessionInc;
}

#session-length {
    grid-area: sessionLength;

}

#session-decrement {
    grid-area: sessionDec;
}

#timer {
    background-color: brown;
    grid-area: timer;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "timerLabel timerLabel"
    "timeLeft timeLeft"
    "startstop reset"
}

#timer-label {
    grid-area: timerLabel;
}

#time-left {
    grid-area: timeLeft;
}

#start_stop {
    grid-area: startstop;
}

#reset {
    grid-area: reset;
}